@import "../../App.scss";

.home {
  .content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
    background-color: $body-color;

    @include lg {
      grid-template-columns: 100px repeat(2, 1fr);
      column-gap: 1.25rem;
    }

    @include md-l {
      // grid-template-columns: 0.5fr 3fr;
      padding-top: 3.5rem;
    }

    @include md {
      grid-template-columns: 0.5fr 3fr;
    }

    .social {
      display: grid;
      grid-template-columns: max-content;
      row-gap: 1rem;

      .icon {
        font-size: 1.25rem;
        color: $title-color;

        &:hover {
          color: $title-color-dark;
        }
      }
    }

    .img {
      background: url(../../assets/profileimg.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: inset 0 0 0 9px rgb(255 255 255/0.3);
      order: 1;
      justify-self: center;
      width: 300px;
      height: 300px;
      animation: profile__animate 8s ease-in-out infinite 1s;

      @include lg {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255 255 255/0.3);
      }

      @include md-l {
        //   order: initial;
        justify-self: initial;
        width: 200px;
        height: 200px;
        box-shadow: inset 0 0 0 6px rgb(255 255 255/0.3);
      }

      @include md {
        order: initial;
      }

      @include sm {
        width: 180px;
        height: 180px;
      }
    }

    .data {
      @include md {
        grid-column: 1/3;
      }

      .title {
        font-size: $big-font-size;
        margin-bottom: $mb-0-25;
        position: relative;

        @include sm {
          font-size: 2.25rem;
        }

        .hand-icon {
          position: absolute;
          top: 1px;
          width: 4rem;
          height: 4rem;
          margin-left: 0.4rem;

          @include md-l {
            top: 60px;
          }

          @include md {
            top: 10px;
            width: 3rem;
            height:3rem;
          }

          @include sm {
          }
        }
      }

      .subtitle {
        position: relative;
        font-size: $h3-font-size;
        padding-left: 5.4rem;
        font-weight: $font-normal;
        margin-bottom: $mb-1;

        @include lg {
          padding-left: 3.75rem;
          margin-bottom: $mb-1;
        }

        &::before {
          content: "";
          position: absolute;
          width: 70px;
          height: 1px;
          background-color: $text-color;
          left: 0;
          top: 1rem;

          @include lg {
            width: 42px;
            top: 0.8rem;
          }
        }
      }

      .description {
        max-width: 400px;
        margin-bottom: $mb-3;

        @include lg {
          max-width: initial;
          margin-bottom: $mb-2-5;
        }
      }

      .hello-btn {
        @include sm {
          margin: auto;
          text-align: center;
          display: block;
          width: 130px;
        }
      }
    }
  }
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
