@import "../../App.scss";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;

  @include md-l {
    top: initial;
    bottom: 0;
  }

  .nav {
    height: calc($header-height) + 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

    @include md-l {
      height: $header-height;
    }

    .logo {
      color: $title-color;
      font-weight: $font-medium;
    }

    .menu {
      @include md-l {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: $body-color;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
      }

      @include sm {
        padding: 2rem 0.25rem 4rem;
      }

      .show-menu {
        @include md-l {
          bottom: 0;
        }
      }

      .list {
        display: flex;
        column-gap: 2rem;

        @include md-l {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
        }

        @include sm {
          column-gap: 0;
        }

        .link {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: $small-font-size;
          color: $title-color;
          font-weight: $font-medium;
          transition: 0.3s;
          position: relative;

          &:hover {
            color: $title-color-dark;
            border-bottom: 1px solid #000;
            // transition: 8s ease;
          }

          .active-link {
            color: $title-color-dark;
          }

          .icon {
            display: none;

            @include md-l {
              font-size: 1.2rem;
              display: block;
            }
          }
        }
      }

      .close {
        display: none;

        @include md-l {
          position: absolute;
          right: 1.3rem;
          bottom: 0.5rem;
          font-size: 1.5rem;
          cursor: pointer;
          color: $title-color;
          display: block;

          &:hover {
            color: $title-color-dark;
          }
        }
      }
    }

    .toggle {
      color: $title-color;
      font-weight: $font-medium;
      display: none;

      @include md-l {
        font-size: 1.1rem;
        cursor: pointer;
        display: block;
      }
    }
  }
}

// /* Active link */
// .active-link {
//   color: $title-color-dark;
// }



// /* BreakPoints */
// /* For medium devices */
// @media screen and (max-width: 768px) {
//   .header {
//     top: initial;
//     bottom: 0;

//     .nav {
//       height: $header-height;

//       .menu {
//         position: fixed;
//         bottom: -100%;
//         left: 0;
//         width: 100%;
//         background-color: $body-color;
//         padding: 2rem 1.5rem 4rem;
//         box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
//         border-radius: 1.5rem 1.5rem 0 0;
//         transition: 0.3s;

//         .show-menu {
//           bottom: 0;
//         }

//         .list {
//           display: grid;
//           grid-template-columns: repeat(3, 1fr);
//           gap: 2rem;

//           .icon {
//             font-size: 1.2rem;
//             display: block;
//           }
//         }

//         .close {
//           position: absolute;
//           right: 1.3rem;
//           bottom: 0.5rem;
//           font-size: 1.5rem;
//           cursor: pointer;
//           color: $title-color;
//           display: block;

//           &:hover {
//             color: $title-color-dark;
//           }
//         }
//       }

//       .toggle {
//         font-size: 1.1rem;
//         cursor: pointer;
//         display: block;
//       }
//     }
//   }
// }

// /* For small devices */
// @media screen and (max-width: 360px) {
//   .menu {
//     padding: 2rem 0.25rem 4rem;

//     .list {
//       column-gap: 0;
//     }
//   }
// }
